body{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.container-fluid{
    margin-bottom: 50px;
    background-color:white;
    overflow: hidden;

}
.fs-4.px-3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: italic;
    font: size 1000px;
  }
  .button {
    color: white;
    background-color: black;
  }
 .nav-link{
  font-size:x-large;
  font-weight: 400; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.header-img {
    height: 800px;
    width: 100vw;
    background: black;
    overflow: hidden;
}

#wallpaper {
   object-fit: cover;
   opacity: 0.4;
}
.header-title{
  position: absolute;
  top: 70%;
  left: 10%;
  color: aliceblue;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sub-head{
  position: absolute;
  left:20%;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.read{
  position: absolute;
  top:120%;
  left: 10%;
  color: aliceblue;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.create{
  position: absolute;
  top:120%;
  left: 60%;
  color: aliceblue;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.grid-container {
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: auto;
 gap: 10px;
}
.grid-item{
  margin: 20px;

}
  
.updation{
  text-decoration: none;
  text-align: center;
  margin: 5px;
  width:60px;
  color: #fff;
  padding: 7.5px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#edit,.updation{
  background-color: #007bff;
}
#delete{
  background-color: red;
}
#view{
  background-color: green;
}

.outer{
  margin-left: 20px;
  margin-right: 20px;
}

.heading{
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-content{
  margin-top: 30px;
  text-align: justify;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
}
.sub-heading{
  margin-top: 30px;
  text-align: right;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}